.button {
    padding: .75em 1.2em;

    border: solid .1em var(--light-dark-blue);
    border-radius: 12em;

    transition: all .2s ease-in-out;
}

.button:hover {
    border: solid .075em var(--white);
    
    background-color: var(--white);

    color: var(--dark-blue);
}