.header-detail {
    height: 100dvh;
}

.main-detail {
    margin: 0 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    & article {
        width: 60%;

        margin-bottom: 4em;

        & h2 {
            margin-bottom: 1em;

            text-align: center;
        }
    }

    & nav {
        width: 60%;
        height: 25dvh;

        & ul  {
            width: 100%;
            
            display: flex;
            justify-content: space-between;
        }
    }
}