* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100dvh - 3em);

    overflow-x: hidden;
    
    background-color: var(--dark-blue);
}

li {
    list-style: none;
}
